<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articla.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @articla.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= @articla.text %>
</p>

<%= link_to 'Edit', edit_articla_path(@articla) %> |
<%= link_to 'Back', articlas_path %>
